<div class="row-fluid header-row">
  <div class="span12 detail-logo-container">
    <img src="../img/armor-small.png" class="user-detail-logo"></img>
    <h1 class="username">{{userResult._source.name}}</h1>
  </div>
</div>
   
<timeline>
    <timeline-event side ng-repeat="suit in userResult._source.suits">
      <timeline-badge class="info"><i class="glyphicon glyphicon-check"></i>
      </timeline-badge>
      <timeline-panel>
        <timeline-heading>
          <timeline-title>
              <strong>{{suit._source.found_date | date}}</strong> 
          </timeline-title>
            <small class="text-muted"><i class="glyphicon glyphicon-time"></i> 
            </small>
          </p>
        </timeline-heading>
          <div class="stats-row">
          <span class="stats-list">
          <ul class="fa-ul">
            <li ng-repeat="prop in itemResists" ng-if="suit._source.totals[prop]" class="stats">
                 <i class="fa-li fa fa-shield"></i>
                <strong>{{prop}}:</strong> {{suit._source.totals[prop]}}
            </li>
          </ul>
          </span>
          <span class="stats-list">
          <ul class="fa-ul">
            <li ng-repeat="prop in statProperties" ng-if="suit._source.totals[prop]" class="stats">
                 <i class="fa-li fa fa-balance-scale"></i>
                <strong>{{prop}}:</strong> {{suit._source.totals[prop]}}
            </li>
          </ul>
          </span>
          <span class="stats-list">
            <ul class="fa-ul">
              <li ng-repeat="prop in regenProperties" ng-if="suit._source.totals[prop]" class="stats">
                   <i class="fa-li fa fa-leaf"></i>
                  <strong>{{prop}}:</strong> {{suit._source.totals[prop]}}
              </li>
            </ul>
          </span>
          </div>
          <div class="stats-row">
            <span class="stats-list">
              <ul class="fa-ul">
                <li ng-repeat="prop in defenseProperties" ng-if="suit._source.totals[prop]" class="stats">
                     <i class="fa-li fa fa-heart"></i>
                    <strong>{{prop}}:</strong> {{suit._source.totals[prop]}}
                </li>
              </ul>
            </span>
            <span class="stats-list">
              <ul class="fa-ul">
                <li ng-repeat="prop in attackProperties" ng-if="suit._source.totals[prop]" class="stats">
                     <i class="fa-li fa fa-fire"></i>
                    <strong>{{prop}}:</strong> {{suit._source.totals[prop]}}
                </li>
              </ul>
            </span>
            <span class="stats-list">
            <ul class="fa-ul">
              <li ng-repeat="prop in magicProperties" ng-if="suit._source.totals[prop]" class="stats">
                   <i class="fa-li fa fa-magic"></i>
                  <strong>{{prop}}:</strong> {{suit._source.totals[prop]}}
              </li>
            </ul>
            </span>
          </div>
          <div class="stats-row">
            <span class="stats-list">
              <ul class="fa-ul">
                <li ng-repeat="prop in skills" ng-if="suit._source.totals[prop]" class="stats">
                     <i class="fa-li fa fa-arrow-up"></i>
                    <strong>{{prop}}:</strong> {{suit._source.totals[prop]}}
                </li>
              </ul>
            </span>
            <span class="stats-list">
              <ul class="fa-ul">
                <li ng-repeat="prop in properties" ng-if="suit._source.totals[prop]" class="stats">
                     <i class="fa-li fa fa-tag"></i>
                    <strong>{{prop}}:</strong> {{suit._source.totals[prop]}}
                </li>
              </ul>
            </span>
          </div>
          <div class="stats-row view-details">
              <a href="javascript:;" ng-click="hide(suit)">VIEW FULL SUIT</a>
          </div>
          <div class="stats-row suit-row" ng-show="suit.show">
            <span class="suit-list">
            <ul class="fa-ul">
              <li class="gear-src" ng-repeat="piece in suit._source.gear" ng-bind-html="formatGear(piece)" ng-if="!ignoreItem(piece)">

              </li>
            </ul>
            </span>
          </div>
      </timeline-panel>
    </timeline-event>
</timeline>
