      <div class="row-fluid search-logo">
        <div class="span4"></div>
        <div class="span4 main-search-logo">
          <img src="../img/armor-small.png"></img>
          <h1 class="center-block"><span style="color:#990000;">uo</span>Suits</h1>
        </div>
        <div class="span4"></div>
      </div>
        
      <div class="row-fluid">
        <div class="span4"></div>
        <div class="span4">
            <div class="row">

              <form ng-submit="goSearch()">
              <div class="span11">
                <input type="text" id="search-box" class="search-box input-large search-query" placeholder="Type a players name or a piece of gear..." ng-model="searchWord"/>
              </div>
              <div class="span1">
                <button class="btn search-btn">Submit</button>
              </div>
                </form>
            </div>
        </div>
        <div class="span4"></div>
      </div>

