@font-face {
  font-family:AlmendraSC;
  src: url("../fonts/AlmendraSC-Regular.otf");
}

@font-face {
  font-family:AlmendraSC;
  src: url("../fonts/AlmendraSC-Bold.otf");
  font-weight: bold;
}

@font-face {
  font-family:AlmendraRegular;
  src: url("../fonts/Almendra-Regular.otf");
}

.fa-plus, .fa-minus {
  display:inline-block;
  margin-left:5px;
  vertical-align:middle;
}

.suit-result {
  display:inline-block;
  margin-left:5px;
  vertical-align:middle;
}

.timeline li.stats {
  margin-bottom:0px;
}

li div.timeline-panel {
  width:100% !important;
}

.stats-row {
  margin-bottom:10px;
}
  
ul.timeline {
  margin-left:25px;
  margin-right:25px;
  margin-top:25px;
}

.timeline .stats-list {
  display:inline-block;
  font-size:10px;
  margin-right:0px;
  margin-bottom:10px;
  width:165px;
  vertical-align:top;
}

.timeline .suit-list {
  display:inline-block;
  font-size:10px;
  margin-right:0px;
  width:100%;
  vertical-align:top;
}



h1 strong {
  color:#4c4c4c;
}

i {
  color: #B0B0B5;
}

ul {
  list-style:none;
}

div {
  color:#4c4c4c;
}

body {
  background-color:#F8F8FF;
}

.view-details {
  text-align:right;
}

.view-details a {
  text-decoration:none;
  font-family: AlmendraRegular;
}

.suit {
  background-color: rgba(238, 238, 245, 0.7)
  padding:5px;
  border: 1px solid black;
  border-radius:5px;
}

.suit-header h4 {
  font-family: AlmendraRegular;
}

.suit-header {
  margin-left:15px;
}

.suit-details {
  font-size: 12px;
}

.suit-details i {
  color: black;
}

.gear-props ul {
  display: inline-block;
  margin-right:30px;
  vertical-align:top;
  width:200px;
}

li.gear-src {
  display: inline-block;
  vertical-align:top;
  width:160px;
  margin-right:5px;
}

.suit-row {
  margin-top:25px;
  padding-top:25px;
  border-top:1px solid black;
}

.username {
  display:inline;
  margin-left:5px;
}

.user-detail-logo {
  width:100px;
}

.detail-logo-container {
  padding:10px;
  vertical-align:center;
  text-align:left;
  font-family: AlmendraSC;
  border-bottom: 1px dotted black;
}

.link-overlay {
 position:absolute; 
 width:100%;
 height:100%;
 top:0;
 left: 0;
 z-index: 1;
}

.header div {
  font-family: AlmendraRegular;
  background-color: #323232;
  color: white;
  padding-right: 10px;
  text-align:right;
  color:#F8F8FF;
}

.main-search-logo {
  text-align:center;
  padding-top:10px;
  font-family: AlmendraSC;
}

.main-search-logo img {
  width:200px;
}

.loader {
  margin-top:25px;
}

.search-btn {
  border-top-right-radius:15px;
  border-bottom-right-radius:15px;
  float:right;
  border: 1px solid #a8a8a8;
}

#search-box {
  width: 100%;
  border: 1px solid #a8a8a8;
}

.search-result {
}

.result-body {
  border: 1px solid;
  margin-top:5px;
  margin-bottom:5px;
  padding:10px;
  text-align:left;
  border-radius:10px;
  position:relative;
  background-color: rgba(238, 238, 245, 0.7);
}

.result-title {
  display:block;
  margin-bottom:5px;
  font-family: AlmendraSC;
  border-bottom: 1px solid black;
}
